/* Navbar negro y textos blancos */
.navbar {
    background-color: black; /* Fondo negro */
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    width: 100%; /* Asegura que el navbar ocupe todo el ancho */
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

.nav-link,.nav-link:hover {
    color: black !important; /* Texto blanco para los enlaces */
    
}

/* Navbar centrado  (SI SIRVE)*/
.nav-center {
    background-color: white;
    padding: 10px;
    text-align: center; /* Centra los enlaces */
}

/* Alinea el icono del toggler hacia la izquierda (SI SIRVE) */
.navbar-toggler {
    position: absolute; /* Posiciona el botón de forma absoluta */
    left: 0; /* Lo coloca completamente a la izquierda */
}



/* Ícono hamburguesa del toggler */
.navbar-toggler-icon::before, .navbar-toggler-icon{
    content: '\2630'; /* Unicode para el ícono de hamburguesa */
    font-size: 35px; /* Tamaño del ícono */
    color: #222; /* Color del ícono */
    width: 75px;
    height: 40%;
}

/* Offcanvas body */
.offcanvas-body, .offcanvas-body a {
    color: black !important; /* Letras y enlaces en negro */
    text-align: left;
}

body {
    background-color: white;
    font-family: "Roboto Condensed", sans-serif;

}

.Icono-Mythique img{
    width: 60px;
    height: 60px;
    position:absolute;
    left: 5%;
    margin-top: -10px;
}

.linea-vertical{
    width: 2px;
    height: 50px;
    background-color: #b8b8b8;
    margin-top: -6px;
    position: absolute;
    left: 4.2%;
    box-shadow: 2px 0px 5px rgba(52, 51, 51, 0.5); /* Sombra a la derecha */

}

.jugadores-text{
    position: absolute; /* Posicionamiento absoluto */
    top: 12%; /* Coloca el contenedor en la mitad vertical de la página */
    left: 50%; /* Coloca el contenedor en la mitad horizontal de la página */
    transform: translate(-50%, -50%); /* Ajusta para que el texto quede perfectamente centrado */
    text-transform: uppercase; /* Pone el texto en mayúsculas */
    font-weight: bold;
    color:black; /* Color del texto */
}

.row {
    margin-top: 30px; /* Ajusta este valor para moverlas un poco hacia abajo */
}

.Posicion{
    font-weight: bold;
    font-size: 30px;
}

@media screen and (max-width:500px){
    .jugadores-text{
        display: none;
    }

    .Icono-Mythique img{
        left: 60px;
    }
}
